.container {
  text-align: center;
  margin-left: 3rem;
  width: 500px;
  margin-left: 37vw;
}
.container h3 {
  text-align: left;
}

.btn-submit{
margin-left: 1rem;
width: 200px;
height: 36px;
background-color: rgb(128, 250, 104);
border-color: transparent;

}

.container-input{
  width: 200px;
  height: 30px;
  padding-left: 5px;
}

.container-result img{
  width: 65px;
  margin-bottom: 0.5rem;
  text-align: center;
}



.container-result {
  border: 2px solid;
  margin-top: 1rem;
  padding-top: 1rem;
}